.hide-scrollbar {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: transparent transparent; /* For Firefox */

  &::-webkit-scrollbar {
    width: 6px; /* For Chrome, Safari, and Opera */
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent; /* Change this to the desired color */
    border-radius: 3px;
  }
}

.formatted-article {
  /* Define your styles for the article here */
  /* Example styles for different HTML tags */
  h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
  }

  p {
    margin-bottom: 12px;
    /* color: #2c5382b7; */
  }

  /* Add more styles for other HTML tags as needed */
}

.hover {
  color: #3182ce;
  &:hover {
    text-decoration: none;
    color: #3182ce;
  }
}
